<header>
  voicebot
</header>
<section class="tabs-section">
<mat-tab-group>
  <mat-tab label="Admin Dashboard">
    <div class="material-table">
    
        
<div class=""style="clear:both">
<mat-form-field style="width:300px;float:left;">
  <input matInput placeholder="Search CustomerName" name="searchString"  [(ngModel)]="searchString">
</mat-form-field>
<mat-form-field style="width:300px;float:right;">
    <input matInput placeholder="Search PhoneNumber" name="searchPhone"  [(ngModel)]="searchPhone">
  </mat-form-field>
</div>
<div class=""style="clear:both"></div>
  <table class="w100" border="0" cellpadding="0" cellspacing="0">
    <thead class="table-thead"><tr>
      <th>Customer No</th>
<th>Locations</th>
 <th>Zip code</th>
<th>Contact No</th>
 <th>Email Id</th>
<th>Secondary No</th>
      </tr></thead>
    <tbody >
       <tr *ngFor="let tblvalue of details | filter : 'CustomerName' : searchString | filter : 'ContactNo' : searchPhone; ">
      <td> {{tblvalue.CustomerName}} </td>
<td> {{tblvalue.Location}} </td>
 <td> {{tblvalue.Zipcode}} </td>
<td> {{tblvalue.ContactNo}} </td>
 <td> {{tblvalue.EmailId}} </td>
<td> {{tblvalue.SecondaryNo}} </td>
      </tr>
    </tbody>

  </table>

</div>
     </mat-tab>
  <mat-tab label="Customer Enquiry">
      <div class="chart-container">
          <div class="chart-ticketsimage"></div>
        </div>  
  </mat-tab>
 <!-- <mat-tab label="Complaints History">
      <div class="chart-container">
          <div><div [chart]="chartData"></div></div>
        </div>    
  </mat-tab>-->
</mat-tab-group>

</section>
